{% load static %}
{% block content %}
<!--//-->
<div class="row">
	
	<div class="col-md-3 mb-2"></div>
	<div class="col-md-3 mb-2"></div>
	<div class="col-md-3">
		
	</div>

	<!--menu-->
	<div class="col-md-3">
		<button type="button" class="btn header-item waves-effect" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever=""><i class="fas fa-plus-circle"></i> Ajouter un nouveau quiz</button>

		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Formulaire d'ajout d'un nouveau quiz</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		      	<span class="d-none" id="form-error"></span>
		        <form method="POST" action="" id="addForm">
		        	{% csrf_token %}
		          <div class="mb-3">
		            <label for="recipient-name" class="col-form-label">Niveau:</label>
		            <input type="text" class="form-control" id="niveau-name">
		          </div>

		          <div class="mb-3">
		            <label for="recipient-name" class="col-form-label">Matiere:</label>
		            <input type="text" class="form-control" id="matiere-name">
		          </div>
		          <div class="mb-3">
		            <label for="recipient-name" class="col-form-label">Mot clès(des mots cle pour ce quiz séparer par des point virgule):</label>
		            <input type="text" class="form-control" id="motcles-text">
		          </div>
		          <div class="mb-3">
		            <label for="message-text" class="col-form-label">Description:</label>
		            <textarea class="form-control" id="description-text"></textarea>
		          </div>
		          
		          <div class="mb-3">
		          	<label for="message-text" class="col-form-label">Selectionner un fichier (xml) contenant le questionnaire sur ce quiz:</label>
		            {{fileform}}
		          </div>
		       
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" id="close" data-bs-dismiss="modal">Annuler</button>
		        <button type="submit" class="btn btn-primary">Envoyer</button>
		      </div>
		      </form>
		    </div>
		  </div>
		</div>
		

		<!----->



		<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0 col-md-6" aria-labelledby="page-header-notifications-dropdown">
			<div class="p-3">
				<div class="row align-items-center">
					<div class="col">
						<h6 class="m-0"> Formulaire d'ajout d'un nouveau quiz </h6>
					</div>
					<!--<div class="col-auto"> <a href="#!" class="small"> View All</a></div>-->

					<form method='POST' action='' enctype="multipart/form-data">
						<label for="formFileSm" class="form-label"><a href="#">besoin d'aide?</a></label>
						{{fileform}}
						<button type="button" id="sqlbtn" class="btn btn-light float-end mt-2" data-mdb-ripple-color="dark">valider</button>
					</form>
				</div>
				</div>
			</div>
	</div>

</div>


<div class="row">
	
	<div class="col-md-2">
		<form class="form-inline">
			{% csrf_token %}
		<div class="form-group">
        <label>Niveau:</label>
        <select id="niveauw" name="niveau" class="form-control">
            <option value="0">Tout niveaux</option>
            {% for niveau in niveau_liste %}
            <option value="{{niveau}}" class="s-niveau">{{niveau}}</option>
            {% endfor %}
        </select>
       
    	</div>
	</form>

	</div>


	<div class="col-md-2">
		<form class="form-inline">
			{% csrf_token %}
		<div class="form-group">
        <label>Auteur:</label>
        <select id="auteur" name="" class="form-control">
            <option value="0">Tous</option>
            {% for auteur in auteur_liste %}
            <option value="{{auteur}}" class="s-niveau">{{auteur}}</option>
            {% endfor %}
        </select>
       
    	</div>
	</form>

	</div>


	<div class="col-md-2">
		<form class="form-inline">
			{% csrf_token %}
		<div class="form-group">
        <label>Matiere:</label>
        <select id="matiere" name="" class="form-control">
            <option value="0">Tout matiere</option>
            {% for matiere in matiere_liste %}
            <option value="{{matiere}}">{{matiere}}</option>
  			{% endfor %}
        </select>
    </div>
</form>

	</div>

	<div class="col-md-6 mb-2">
		<form id="srch-form" method="POST" action="">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-10">
		  			<label>Recherche par mot cles :</label>
					<input type="text" class="form-control" list="datalistOptions" id="srch-motcles" placeholder="Entrer mots cles..."/>
					<datalist id="datalistOptions">
					{% for k in mot_cles %}
					  <option value="{{k}}">
					{% endfor %}
					</datalist>
		  		</div>
		  		<div class="col-md-1">
		  			<label>.</label>
				  	<button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i>
					</button>

				</div>
			</div>
		</form>
	</div>
		
	
<!--accordion-->
<div class="accordion accordion-flush" id="accordionFlushExample">
  <!--accordion item-->
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
        CHIMIE ORGANIQUE , ajouter le 12-Nov-2021
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
	      	<!--accordion--bosy-->
	      	<div class="card">
	      		<div class="card-body">
	      			<div class="row">
	      				<div class="col-md-3">
			      			<button type="button" class="btn btn-light position-relative text-secondary">Elevees ayants passer ce quiz
			      			<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary btn-sm">
			    					99+
			   					 <span class="visually-hidden">unread messages</span>
			   				</span>
			   				</button>
			   			</div>
			   			<div class="col-md-3">
			   				<button type="button" class="btn btn-light position-relative text-secondary">Cotes enregistree
			      			<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary btn-sm">
			    					99+
			   					 <span class="visually-hidden">unread messages</span>
			   					</span></button>
			   			</div>
			   			<div class="col-md-3">
			   				<button type="button" class="btn btn-light position-relative text-secondary ">Reutilisation dans d'autres quiz
			      			<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary btn-sm">
			    					99+
			   					 <span class="visually-hidden">unread messages</span>
			   					</span>
			   				</button>
			   			</div>
			   			<div class="col-md-3">
			   				<button type="button" class="btn btn-light position-relative text-secondary" >Partager lien vers ce quiz
			      			</button>
			   			</div>


	   				</div>
	      			<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">QCM 109</th>
					      <th scope="col">Cours Mathematics 6EM</th>
					      <th scope="col">10 Questions - Total de 20 points</th>
					     
					    </tr>
					  </thead>
					  <tbody>
					  	<tr>
					  		<td colspan="3">
							  	<div class="card">
							  		<div class="card-body">
							  			<div class="accordion" id="accordionExample">
											  <div class="accordion-item">
											    <h2 class="accordion-header" id="headingOne">
											      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											        Question 1 &nbsp; &nbsp; &nbsp;2pts &nbsp; &nbsp; &nbsp;Equations  et inequations
											      </button>
											    </h2>
											    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
											      <div class="accordion-body">
											        <h5>Le titre de la question ?</h5>
											        <div class="col-md-6">Ici l'eventuel image
											     	</div>
											     	<span>Lien exerne</span>
											        <p>
											        	<ol>
											        		<li>Reponse 1</li>
											        		<li>Reponse 2</li>
											        	</ol>
											        </p>
											      </div>
											    </div>
											  </div>
											  <div class="accordion-item">
											    <h2 class="accordion-header" id="headingTwo">
											      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											        Accordion Item #2
											      </button>
												    </h2>
												    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
												      <div class="accordion-body">
												        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
												      </div>
												    </div>
												  </div>
												  <div class="accordion-item">
												    <h2 class="accordion-header" id="headingThree">
												      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												        Accordion Item #3
												      </button>
												    </h2>
												    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
												      <div class="accordion-body">
												        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
												      </div>
												    </div>
												  </div>
												</div>
							  		</div>
							  	</div>
							</td>
						</tr>
					  </tbody>
					</table>
	      		</div>
	      	</div>
	      </div>
	      <!--accordion body-->
	    </div>
  </div>
 <!---//--->
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>
<!--accordion-->
{% endblock content %}