{% if has_questions %}
<div class="card mt-3">
		
      
      <div class="card-body">
      	<p class="text-center"><i class="fas fa-exclamation-circle text-warning"></i> Ce quiz possede deja une questionnaire!</p>
      	<p class="text-center">Voici ce que vous pouvez faire :</p>
      	<div class="row">
      		<div class="col-md-6">
      			<button type="button" class="btn btn-secondary col-md-11" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever=""><i class="fas fa-plus-circle"></i> Creer un nouveau quiz</button>
			</div>
			<div class="col-md-6">
      			<button type="button" class="btn btn-secondary col-md-11" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever=""><i class="fas fa-plus-circle"></i> Reutilisez ces questionnaire dans un nouveau quiz</button>
      		</div>
      	</div>
      </div>
</div>
{% else %}

	<div class="card">
		
      
      <div class="card-body">

      <p class="text-center">
      		<i class="far fa-edit"></i> Vous souhaitez ajouter une questionnaire a ce quiz
      </p>

      <div class="row">
      	<div class="col-md-5">
		<button type="button" class="btn btn-secondary col-md-11" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever=""><i class="fas fa-plus-circle"></i> Ajouter un questionnaire via un fichier xml</button>

		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Selectionner un fichier xml contenant des questionnaire pour ce quiz</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		      	<span class="d-none" id="form-error"></span>
		        <form method='POST' action='' enctype="multipart/form-data" id="xmlquestion">
		        	{% csrf_token %}
		        	{{file_q_form}}
		        	<input type="hidden" name="{{quiz_id}}" value={{quiz_id}} id="id_quiz">
		        <button type="submit" id="sqlbtn" class="btn btn-light float-end mt-2" data-mdb-ripple-color="dark">valider</button>
		          
		      </form>
		    </div>
		  </div>
		</div>
		

		<!----->
      	</div>
      </div>

      	<div class="col-md-5">
      		<button type="button" class="btn btn-secondary col-md-11">Ajout via un formulaire( En cours de construction)</button>
      	</div>
      </div>
      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>
	
{% endif %}
